.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px 0px;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  cursor: pointer;
  overflow: visible;
  z-index: 1;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 18px 0px;
}

.slide {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 18px 0px;
}

.slide1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s ease;
}

.card:hover .slide1 {
  transform: translateY(-100px);
}

.slide2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.6s ease;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.card:hover .slide2 {
  transform: translateY(100px);
  border-radius: 0px 0px 18px 0px;
}

.slide2::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background: transparent;
  transition: 0.8s;
  right: 0;
  top: -15px;
}

.card:hover .slide2::before {
  background: #fff;
}

.slide2::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: #e1c49c;
}



.content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #e1c49c;
}

.content p {
  font-size: 16px;
  text-align: center;
  color: #333;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}
