.header {
  position: relative;
  width: 100%;
  height: 100vh;
}

.headerBackground {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/bgimg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

.headerBackground::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.headerContent {
  position: relative;
  z-index: 1;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  position: relative;
  z-index: 2;
}

.nav {
  margin-left: auto; /* ← это двигает nav вправо */
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

.logoImage {
  height: 60px;
  object-fit: contain;
}


.nav a {
  color: #00f0ff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: white;
}

.langSwitcher {
  display: flex;
  gap: 10px;
}

.langSwitcher button {
  background: transparent;
  border: 2px solid #00f0ff;
  color: #00f0ff;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease;
}

.langSwitcher button:hover {
  background-color: #00f0ff;
  color: black;
}

.hero {
  padding: 0 20vw;
  padding-bottom: 15vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  transform: translateY(-50px); /* ← поднимает всё на 50px вверх */
}



.hero h1,
.hero p {
  font-size: 4rem;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  margin: 0;
  text-shadow:
    0 0 5px rgb(16, 221, 187),
    0 0 10px rgb(16, 221, 187),
    0 0 20px rgb(16, 221, 187),
    0 0 40px rgb(16, 221, 187),
    0 0 80px rgb(16, 221, 187);
  animation: h1Glow 2s infinite alternate;
}

@keyframes h1Glow {
  0% {
    text-shadow:
      0 0 5px rgb(16, 221, 187),
      0 0 10px rgb(16, 221, 187),
      0 0 20px rgb(16, 221, 187);
  }

  100% {
    text-shadow:
      0 0 10px #00fff2,
      0 0 20px #00fff2,
      0 0 40px #00fff2,
      0 0 80px #00fff2;
  }
}

.hero p {
  font-size: 17px;
  padding: 0 16vw;
  color: white;
  font-weight: 500;
  line-height: 20px;
}

.button {
  background-color: #000;
  color: #00f0ff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 14px 32px;
  border: 2px solid #00f0ff;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    0 0 5px #00f0ff,
    0 0 10px #00f0ff,
    0 0 20px #00f0ff,
    0 0 40px #00f0ff;
  animation: pulseGlow 2s infinite alternate;
}

.button:hover {
  background-color: #00f0ff;
  transform: scale(1.05);
  color: black;
  border: solid 2px black;
  box-shadow:
    0 0 10px #00f0ff,
    0 0 20px #00f0ff,
    0 0 40px #00f0ff,
    0 0 80px #00f0ff;
  animation: blackGlow 2s infinite alternate;
}

@keyframes pulseGlow {
  0% {
    box-shadow:
      0 0 5px #00f0ff,
      0 0 10px #00f0ff,
      0 0 20px #00f0ff;
  }

  100% {
    box-shadow:
      0 0 10px #00f0ff,
      0 0 20px #00f0ff,
      0 0 40px #00f0ff,
      0 0 80px #00f0ff;
  }
}
